.App {
  text-align: left;
}

.navLink {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  color: green;
  font-weight: 700;
}

.Button {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color: burlywood;
}

.SpecialButton {
  background-color: black;
}

.form, .counter {
  padding: 20px;
  margin-top: 29px;
  background-color: bisque;
  border-radius: 32px;
  border: 1px solid grey;
}

.CounterParent {
  margin-top: 50px;
  background-color: brown;
}